<?xml version="1.0"?>
<launch>
    <arg name="output" default="log"/>

    <node pkg="nturt_bag_recorder" name="nturt_bag_recorder" type="nturt_bag_recorder.py" output="$(arg output)">
        <param name="record_script" value="$(find nturt_bag_recorder)/scripts/nturt_bag_recorder.sh"/>
        <param name="record_folder" value="$(find nturt_bag_recorder)/bags"/>
    </node>
</launch>
